#root {
  margin: 16px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 8px;
  padding: 8px;
  border: whitesmoke 3px solid;
  border-radius: 8px;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.fighters {
  width: 250px;
}
